@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components{
    .no-scroll{
        @apply overflow-hidden;
    }
}

.bg-image {
  background-image: url('/images/bg-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
